<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs%>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
      <% include ./partials/show_nav.ejs %>
    </header>
    <div class="main">

      <form class="form" action="/cutecats/<%=index%>?_method=PUT" method="POST">
        Name:<input type="text" name="name" value="<%=cat.name%>"><br />
        Image: <input type="text" name="img" value="<%=cat.img%>"><br />
        Owner: <input type="text" name="owner" value="<%=cat.owner%>"><br />
        About: <input type="text" name="about" value="<%=cat.about%>"><br />
        Will <%=cat.name%> Scatch?: <input type="checkbox" name="willScratch"
          <%if(cat.willScratch === true){%>
            checked
          <%}%>
        ><br />
        <input class="submit" type="submit" value="Edit Cat">
      </form>
      
    </div>
    <h2>Edit Post</h2>


    <% include ./partials/footer.ejs %>

  </body>
</html>
