<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs%>
  </head>
  <body>
    <h1>Edit Your Cat</h1>
    <nav>
      <a href="/cutecats">Home</a>
      <a href="/cutecats/<%=index%>">Back</a>
    </nav>
    <form action="/cutecats/<%=index%>?_method=PUT" method="POST">
      Name:<input type="text" name="name" value="<%=cat.name%>"><br />
      Image: <input type="text" name="img" value="<%=cat.img%>"><br />
      Owner: <input type="text" name="owner" value="<%=cat.owner%>"><br />
      About: <input type="text" name="about" value="<%=cat.about%>"><br />
      Will <%=cat.name%> Scatch?: <input type="checkbox" name="willScratch"
        <%if(cat.willScratch === true){%>
          checked
        <%}%>
      ><br />
      <input type="submit" value="Edit Cat">
    </form>
  </body>
</html>
