<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
      <% include ./partials/main_nav.ejs %>
      <% if(currentUser){ %>
        <% include ./partials/sub_header.ejs %>
      <%}%>
    </header>

    <main>
      <div class="tile_container">
        <% for(let i =0; i < allCats.length; i++){%>
          <div class="cat_tile">
              <h3><%=allCats[i].name%></h3>
              <a href="/cutecats/<%=allCats[i].id%>"><img src="<%=allCats[i].img%>" alt="<%=allCats[i].name%>" height="150px"
              class="cat_image"></a>
              <h3><i class="fas fa-thumbs-up"></i> <%=allCats[i].likes%></h3>
          </div>
        <%}%>
      </div>


    </main>

    <% include ./partials/footer.ejs %>

  </body>
</html>
