<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
      <% include ./partials/main_nav.ejs %>
    </header>

    <div class="main">

        <% for(let i =0; i < allCats.length; i++){%>
          <div>
              <h3><%=allCats[i].name%></h3>
              <a href="/cutecats/<%=allCats[i].id%>"><img src="<%=allCats[i].img%>" alt="<%=allCats[i].name%>" width="200px"></a>
              <h3>Likes: <%=allCats[i].likes%></h3>
          </div>
        <%}%>

    </div>

    <% include ./partials/footer.ejs %>

  </body>
</html>
