<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs%>
  </head>
  <body>
    <header>
      <h1>Your Selection</h1>
      <%include ./partials/main_nav.ejs%>
    </header>
    <main>
      <h2> <%=cat.name%></h2>
      <img class="showImg" src="<%=cat.img%>" alt="<%=cat.name%>" width="400px">
      <h3>Owner: <%=cat.owner%></h3>
      <h3>About: <%=cat.about%></h3>
      <%if(cat.willScratch === true){%>
          <h3><%=cat.name%> will scratch you!</h3>
        <%}else{%>
          <h3><%=cat.name%> won't scratch you!</h3>
        <%}%>
      <h3>Number of Likes: <%=cat.likes%></h3>
    </main>
    <nav>
      <%if(currentUser){%>
      <form action="/cutecats/like/<%=index%>?_method=PUT" method="POST">
        <input type="hidden" name="likes" value="<%=cat.likes%>">
        <button type="submit" class="fas fa-thumbs-up">Like</button>
      </form>


      <%} else {%>
        <button><a href="/sessions/new">Log In To Like This Cat!</a></button>
      <%}%>
      <%if(currentUser){%>
        <%if(currentUser._id == cat.ownerId){%>
        <form action="/cutecats/<%=index%>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>

        <button><a href="/cutecats/<%=index%>/edit">Edit</a></button>
        <%} else {%>
          <button><a href="/sessions/new">Log In To Edit Your Cat</a></button>
        <%}%>
      <%}%>
    </nav>

    <% include ./partials/footer.ejs %>

</body>
</html>
