<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs%>
  </head>
  <body>
    <header>
      <h1>Your Selection</h1>
      <%include ./partials/main_nav.ejs%>
    </header>
    <div class="show">
      <h2> <%=cat.name%></h2>
      <img class="showImg" src="<%=cat.img%>" alt="<%=cat.name%>" width="400px">
      <h3>Owner: <%=cat.owner%></h3>
      <h3>About: <%=cat.about%></h3>
      <%if(cat.willScratch === true){%>
          <h3><%=cat.name%> will scratch you!</h3>
        <%}else{%>
          <h3><%=cat.name%> won't scratch you!</h3>
        <%}%>
      <h3>Number of Likes: <%=cat.likes%></h3>
    </div>
    <nav>
      <%if(currentUser){%>
      <form action="/cutecats/like/<%=index%>?_method=PUT" method="POST">
        <input type="hidden" name="likes" value="<%=cat.likes%>">
        <button type="submit" class="fas fa-thumbs-up">Like</button>
      </form>


      <%} else {%>
        <a href="/sessions/new">Log In To Like This Cat!</a>
      <%}%>
      <%if(currentUser){%>
        <%if(currentUser._id == cat.ownerId){%>
        <form action="/cutecats/<%=index%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete">
        </form>

        <a href="/cutecats/<%=index%>/edit">Edit</a>
        <%} else {%>
          <a href="/sessions/new">Log In To Edit Your Cat</a>
        <%}%>
      <%}%>
    </nav>

    <% include ./partials/footer.ejs %>

</body>
</html>
