<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs%>
  </head>
  <body>
    <h1>Your Selection</h1>
    <%include ./partials/nav.ejs%>
    <h3>Cat name: <%=cat.name%></h3>
    <img src="<%=cat.img%>" alt="<%=cat.name%>" width="400px" >
    <h3>Owner: <%=cat.owner%></h3>
    <h3>About <%=cat.name%>: <%=cat.about%></h3>
    <%if(cat.shotsUpToDate === true){%>
        <h3>Shots are up to date</h3>
      <%}else{%>
        <h3>Shots are not up to date</h3>
      <%}%>
    <h3>Number of Likes: <%=cat.likes%></h3>


    <nav>
      <%if(currentUser){%>
      <form action="/cutecats/like/<%=index%>?_method=PUT" method="POST">
        <input type="hidden" name="likes" value="<%=cat.likes%>">
        <input class="lower" type="submit" value="Like">
      </form>

      <form action="/cutecats/dislike/<%=index%>?_method=PUT" method="POST">
        <input type="hidden" name="likes" value="<%=cat.likes%>">
        <input class="lower" type="submit" value="Dislike">
      </form>

      <form action="/cutecats/<%=index%>?_method=DELETE" method="POST">
        <input class="lower" type="submit" value="Delete">
      </form>

      <a class="lower" href="/cutecats/<%=index%>/edit">Edit</a>
      <%} else {%>
        <a href="/sessions/new">Log In For More Content!</a>
      <%}%>
    </nav>

</body>
</html>
